<footer class="app-footer">
    <div class="app-footer__container">
        <p class="app-footer__brand">Agendamento de Serviços Automotivos - LavaCar</p>
        <ul class="app-footer__nav">
            <li>
                <a routerLink="/agendamentos/listar-agendamentos">Agendamentos</a>
            </li>
            <li>
                <a routerLink="/clientes/listar-clientes">Clientes</a>
            </li>
            <li>
                <a routerLink="/funcionarios/listar-funcionarios">Funcionários</a>
            </li>
            <li>
                <a routerLink="/servicos/listar-servicos">Serviços</a>
            </li>
        </ul>
    </div>
</footer>