<nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
    <div class="container">
      <a class="navbar-brand" routerLink="/">LavaCar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" routerLink="/">Início</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Agendamentos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Clientes</a>
          </li>
          <!-- Dropdown Funcionários -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">Funcionários</a>
            <ul class="dropdown-menu">
              <li>
                <a class="dropdown-item" href="#">Cadastrar Funcionário</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Listar Funcionários</a>
              </li>
            </ul>
          </li>
          <!-- Dropdown Fornecedores -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">Fornecedores</a>
            <ul class="dropdown-menu">
              <li>
                <a class="dropdown-item" routerLink="/fornecedores/cadastro-fornecedor" routerLinkActive="active">Cadastro Fornecedores</a>
              </li>
              <li>
                <a class="dropdown-item" routerLink="/fornecedores/listar-fornecedores" routerLinkActive="active">Listar Fornecedores</a>
              </li>
            </ul>
          </li>
          <!-- Dropdown Produtos -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">Produtos</a>
            <ul class="dropdown-menu">
              <li>
                <a class="dropdown-item" routerLink="/produtos/cadastro-produto" routerLinkActive="active">Cadastro Produto</a>
              </li>
              <li>
                <a class="dropdown-item" routerLink="/produtos/listar-produtos" routerLinkActive="active">Listar Produtos</a>
              </li>
            </ul>
          </li>
          <!-- Dropdown Serviços -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">Serviços</a>
            <ul class="dropdown-menu">
              <li>
                <a class="dropdown-item" routerLink="/servicos/cadastro-servico" routerLinkActive="active">Cadastro Serviço</a>
              </li>
              <li>
                <a class="dropdown-item" routerLink="/servicos/listar-servicos" routerLinkActive="active">Listar Serviços</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>